rpc-spring/src/main/resources/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://com.hjk.rpc/schema/rpc" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://com.hjk.rpc/schema/rpc" elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="common">
        <xsd:complexType>
            <xsd:attribute name="huskarUrl" type="xsd:string" use="optional"/>
            <xsd:attribute name="huskarToken" type="xsd:string" use="optional"/>
            <xsd:attribute name="traceUrl" type="xsd:string" use="optional"/>
            <xsd:attribute name="metricUrl" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="server">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="service"/>
            </xsd:choice>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="protocol" type="xsd:string" use="required"/>
            <xsd:attribute name="group" type="xsd:string" use="required"/>
            <xsd:attribute name="port" type="xsd:string" use="required"/>
            <xsd:attribute name="threadPoolSize" type="xsd:string" use="required"/>
            <xsd:attribute name="bufferQueueSize" type="xsd:string" use="required"/>
            <xsd:attribute name="workerGroupSize" type="xsd:string" use="optional" default="0"/>
            <xsd:attribute name="exitDelayInMillis" type="xsd:string" use="optional" default="0"/>
            <xsd:attribute name="validatable" type="xsd:string" use="optional" default="false"/>
            <xsd:attribute name="initializer" type="xsd:string" default="me.ele.pylon.spring.server.ServiceInitializer"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="client">
        <xsd:complexType>
            <xsd:choice minOccurs="1" maxOccurs="unbounded">
                <xsd:element ref="interface"/>
            </xsd:choice>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="group" type="xsd:string" use="required"/>
            <xsd:attribute name="protocol" type="xsd:string" use="required"/>
            <xsd:attribute name="threadPoolSize" type="xsd:string" use="required"/>
            <xsd:attribute name="timeoutInMillis" type="xsd:string" use="required"/>
            <xsd:attribute name="lbStrategy" type="xsd:string" use="optional"/>
            <xsd:attribute name="tpStrategy" type="xsd:string" use="optional"/>
            <xsd:attribute name="providerList" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="interface">
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string" use="required"/>
            <xsd:attribute name="id" type="xsd:string" use="optional"/>
            <xsd:attribute name="timeoutInMillis" type="xsd:string" use="optional" default="0"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="service">
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string" use="required"/>
            <xsd:attribute name="ref" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>